/* Styleguid by nhim chanborey */

body {
    padding: 0; 
    margin: 0; 
    font-family: 'Rubik', sans-serif;
    font-size: 13px; 
}

a { color: #4e4e4e; text-decoration: none }
a:hover { color: #558af3 }

html, body { margin: 0; padding:30px 0 0 0; height: 100%;}
#container { min-height: 100%; position: relative; }

.header_wrap{position:fixed;top:0;left:0;width:100%;z-index:99999;background-color:#fff;}
#main_search {
    width: 770px;
    margin: 10px auto;
}

#location-list {
    display: block; 
    float: left; 
    width: 131px; 
    height: 42px;
    border-top-left-radius: 2px; 
    border-bottom-left-radius: 2px; 
    background: #f0f0f0;
    text-decoration: none; 
    color: #4e4e4e;
    line-height: 42px; 
    text-indent: 20px;
}

.larr {
    display: inline-block; 
    width: 5px; 
    height: 4px; 
    text-indent: -9999px; 
    position: relative; 
    top: 18px;
    right: -10px;
    background: url(../images/list_icon.png) 0 0 no-repeat;
    
}

#search-area {
    display: inline-block; 
    width: 335px; 
    height: 42px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    background: #f5f5f5;
}

#search-area input[type="search"]{
    border: none; 
    background: none; 
    widtH: 290px;
    height: 35px;
    position: relative; 
    top: 3px; 
    left: 10px;
    outline: none;
}

#search-ico {
    width: 18px; 
    height: 18px; 
    display: inline-block; 
    text-indent: -9999px; 
    background: url(../images/search_icon.png); 
    opacity: .5;
    position: relative; 
    right: -10px;
    outline: none;
}

#site-header-wrapper {
    position: relative; 
    width: 100%;
    min-width: 910px;
    height: 42px; 
    line-height: 42px;
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    
}

#site-header {
    width: 910px; 
    margin: 0 auto;
    /*border: 1px dotted red;*/
}

#all-categories {
    width: 218px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    float: left;
}

#cate-tab {
    display: block; 
    text-decoration: none; 
    color: #4e4e4e;
    text-transform: uppercase;
}

#cate-tab:hover {
    background-color: #f0f0f0;
}

/*#cate-tab:hover #cate-ico { 
    opacity: 1;
    background: url(../images/burger.png) -18px 0 no-repeat;
}*/

.larr.cate {
    top: -1px;
}

#cate-ico {
    display: inline-block; 
    width: 18px; 
    height: 12px; 
    position: relative; 
    top: 15px; 
    left: 20px;
    text-indent: -9999px; 
    opacity: .3;
    margin-right: 40px;
    background: url(../images/burger.png) 0 0 no-repeat;
}

#head-nav { float: left; height: 42px; margin-left: 30px;}
#head-nav ul { margin: 0; padding: 0; float: left; }
#head-nav li { display: inline; list-style: none }
#head-nav a { line-height: -20ppx; text-decoration :none; color: #4e4e4e; margin-right: 20px; }
#head-nav a:hover { color: #558af3; }

#eng-lang, #khm-lang {
    width: 21px; 
    height: 14px; 
    display: inline-block; 
    background: url(../images/eng.png);
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#lang-wrap {
    position: absolute;
    width: 107px;
    background: #fff;
    border-radius: 2px;
    padding: 5px 0;
    margin: 35px 0 0 172px;
    z-index: 99;
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,.1)
}

#khm { display: block; width: 97px; padding-left: 10px }
#khm:hover {background: #558af3; color: #fff !important}

#khm-lang { background: url(../images/khm.png) }

.larr.lang { top: -1px; left: 10px }

#lang-switch { display: inline-block; }
#post-free-btn {
    display: inline-block; 
    float: right;
    position: relative;
    top: 5px;
    right: -303px;
    width: 81px; 
    height: 32px;
    border-radius: 2px; 
    background: #558af3;
    line-height: 32px; 
    text-align: center; 
    color: #fff !important;
}

#post-free-btn:hover { background: #4e83ec }

#site-cate-slide {
    width: 945px; 
    margin: 0 auto;
    position: relative; 
  
}

#cate-list-wrapper {
    width: 218px;
    float: left;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

#cate-list-wrapper ul {
    margin: 0;  padding: 0;
    list-style: none; 
}

#cate-list-wrapper a {
    display: block; 
    height: 42px;
    width: 220px;
    line-height: 42px; 
    text-decoration: none; 
    color: #4e4e4e;
    position: relative; 
    left: -1px;
}

#cate-list-wrapper a:hover { color: #fff; }

#com-cate:hover, #book-cate:hover, #vc-cate:hover, #fn-cate:hover, #pt-cate:hover, 
#cl-cate:hover, #re-cate:hover, #sv-cate:hover, #edu-cate:hover { background: url(../images/bg_hover.png) 0;}

#com-cate:hover #cc-ico { background: url(../images/sprites.png) -38px -10px no-repeat }
#book-cate:hover #book-ico { background: url(../images/sprites.png) -38px -48px no-repeat }
#vc-cate:hover #vc-ico { background: url(../images/sprites.png) -38px -86px no-repeat }
#fn-cate:hover #fn-ico { background: url(../images/sprites.png) -38px -124px no-repeat }
#pt-cate:hover #pt-ico { background: url(../images/sprites.png) -38px -162px no-repeat }
#cl-cate:hover #cl-ico { background: url(../images/sprites.png) -38px -200px no-repeat }
#re-cate:hover #re-ico { background: url(../images/sprites.png) -38px -238px no-repeat }
#sv-cate:hover #sv-ico { background: url(../images/sprites.png) -38px -276px no-repeat }
#edu-cate:hover #edu-ico { background: url(../images/sprites.png) -38px -314px no-repeat }

#cc-ico, #book-ico, #vc-ico, #fn-ico, #pt-ico, #cl-ico, #re-ico, #sv-ico, #edu-ico {
    width: 18px;
    height: 18px; 
    display: inline-block; 
    float: left;
    position: relative; 
    top: 12px;
    margin: 0 20px;
}

#cc-ico { background: url(../images/sprites.png) -10px -10px no-repeat }
#book-ico { background: url(../images/sprites.png) -10px -48px no-repeat }
#vc-ico { background: url(../images/sprites.png) -10px -86px no-repeat }
#fn-ico { background: url(../images/sprites.png) -10px -124px no-repeat }
#pt-ico { background: url(../images/sprites.png) -10px -162px no-repeat }
#cl-ico { background: url(../images/sprites.png) -10px -200px no-repeat }
#re-ico { background: url(../images/sprites.png) -10px -238px no-repeat }
#sv-ico { background: url(../images/sprites.png) -10px -276px no-repeat }
#edu-ico { background: url(../images/sprites.png) -10px -314px no-repeat }

#carousel-wrapper {
    float: left;
    width: 689px;
    height: 378px;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

#main-content-wrapper {width: 910px;margin: 0 auto;position: relative;top: 30px;}
#save-product-wrapper {display:none;width: 910px;margin: 0 auto;position: relative;top: 30px;}
#aboutus-wrapper {display:none;width: 910px;margin: 0 auto;position: relative;top: 30px;}

#title-wrap {border-bottom: 3px solid #e7e7e7; margin-bottom: 20px;}

#content-title {
    font-size: 15px;
    width: 90px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative; 
    top: 3px;
    left: 20px;
    padding-bottom: 7px;
    border-bottom: 3px solid #f26858
}

/*:hover #sub-cate-wrapper { #white }*/



.sub-cate-wrapper {
    width: 629px;
    height: 348px;
    padding: 15px 30px;
    float: left;
    position: absolute;
    left: 220px;
    background: white;
    top: 0;
    display: none;
}

.sub-cate-wrapper a:hover {
    color: #558af3 !important
}

.dropdown:hover .sub-cate-wrapper {
    display: block;
}

#product-row, #product-row ul { margin: 0; padding: 0; list-style: none; }

.pro-dis {
    display: block; 
    float: left;
    margin: 0px 10px 10px 0;
    width: 218px; 
    border: 1px solid #e7e7e7
}

.pro-dis:hover { border-color: #b9b9b9}

.pro-dis:last-child { margin-right: 0 }

#pro-thumb-wrap {
    width: 218px; 
    height: 220px; 
    margin: 0 auto;
    white-space: nowrap;
    border-bottom: 1px solid #e7e7e7;
}

.pro-num {
    position: relative;
    display: block;
    float: right;
    background: #010101;
    color: #fff;
    z-index: 99;
    margin: -1px 0 0 0px;
    padding: 10px 15px;
}

.pro-img { display: block; width: 216px; height: 210px; margin: 0px auto; position: relative; top: -2px; }
.pro-img img { margin: 0 auto; display: block; position: relative; top: -36px; }

#pro-desc-wrap {
    width: 30px;
    width: 178px;
    padding: 15px 20px;
    height: 90px;
    border-bottom: 1px solid #e7e7e7;
    line-height: 16px;

}

#pro-desc-wrap a { color: #4e4e4e; text-decoration: none; }
#pro-desc-wrap a:hover { color: #558af3; }

.pro-title {
    display:block;
    height: 32px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

/*.pro-title:after {
    content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 95%);
}*/

#pro-price {
    margin: 10px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    color: #4e4e4e;
    position: absolute;
  /*  z-index: 99;*/
    
}

#pro-action-wrap {
    height: 38px; 
    background: #f8f8f8;
    line-height: 38px;
    padding: 0 20px
}

#pro-act-left { float: left; }
#pro-act-left li, #pro-act-right li { display: inline; }
#pro-act-left a, #pro-act-right i { display: inline-block; height: 12px; width: 12px; position: relative; top: 2px; margin-right: 5px; opacity: .5 }

#pro-act-right li { text-align: right }

#pro-act-left a:hover { opacity: 1 }
.pro-location { background: url(../../img/users/sprites_2.png) 1px -1px no-repeat }
.pro-date { background: url(../../img/users/sprites_2.png) -41px -1px no-repeat }
.pro-share { background: url(../../img/users/sprites_2.png) -83px -1px no-repeat }

#pro-act-right { float: right; }
.pro-view-c-ico { margin-left: 3px; background: url(../../img/users/sprites_2.png) -124px -1px no-repeat }
.pro-like-c-ico { margin-left: 3px; background: url(../../img/users/sprites_2.png) -166px -1px no-repeat }

#footer-wrapper {
    width: 100%;
    height: 120px;
    min-width: 910px;
    line-height: 42px;
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    position: absolute; 
    bottom: -200px;
}

#footer-content {
    width: 910px; 
    margin: 5px auto
}

#footer-content h2 {
    margin: 0; padding: 0;
    font-size: 12px; 
    font-weight: 500;
    text-transform: uppercase;
}

#footer-content ul { margin: 0; padding: 0; list-style: none; line-height: 17px; }
#footer-content a { text-decoration: none; color: #4e4e4e }
#footer-content a:hover { color: #558af3 }

#follow, #cus-service, #info { float: left; margin-left: 50px;}
#follow li { display: inline; }
#cus-service ul, #info ul { margin-top: -5px; }
#follow a { display: inline-block; float: left; width: 24px; height: 24px; margin-right: 10px; }
#facebook { background: url(../images/fb_icon.png) }
#googlep { background: url(../images/gp.png) }

#follow { margin-left: 530px; }

#sub-pt {
    height: 345px
}

#sub-pt h4 {
    font-size: 15px; 
    text-transform: uppercase;
    margin: 0; padding: 0;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
}

.sub-sub-cate {
    margin: 10px 0 0 0; padding: 0; list-style: none;   
    line-height: 25px;
    column-width: 140px;
    -moz-column-width: 140px;
    -webkit-column-width: 140px;
}

	.usr_pf_wrap{height:320px;}
	.usr_pf{
		position:relative;
		width:100%;height:100%;
        overflow: hidden;
		background-repeat:no-repeat !important;
			background-position:0 0;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			vertical-align:middle;
		}
	.usr_pic{position:absolute;top:60%;left:20px;margin-top:-50px;vertical-align:middle;cursor:pointer;width:100px;height:100px;border-radius:100%;background-color:#fff;overflow:hidden;border:1px solid #ccc;}
	.usr_pic img{width:100%;height:100%;}
	.tab_cnt{display:block;height:43px;padding:0;margin:0;border:1px solid #d3d6db;border-top:none;}
	.tab_cnt li,.left_act li{float:left;list-style:none;}
	.tab_cnt li a,.bnt-ch-cover,.user-name{display:block;font-family: "Segoe UI",Arial,sans-serif;
		font-size: 14px;
		font-weight: bold;
		height: 43px;
		line-height: 3.05;
		padding: 0 17px;
		vertical-align: middle;
		white-space: nowrap;
		text-decoration:none;
		color:#4b4f56;
		}
	.tab_cnt li a.on,.left_act li a.on{background-color:#bcbfc0;}
	.btn-change-pic{display:none;position:absolute;width:100%;bottom:0;height:30px;text-align:center;color:#fff;background-color:#fff;}
	.usr_pic:hover .btn-change-pic{display:block;}
	.btn-change-pic img{width:30px;height:30px;}
	.bnt-ch-cover{display:inline-block;height: 33px;line-height: 2.05;margin:15px 0 0 20px;font-weight:normal;background-color: rgba(000, 000, 000, 0.5);border-radius:5%;color:#fff;}
	.bnt-ch-cover:hover{background-color: rgba(000, 000, 000, 1)}
	.user-name{position:absolute;bottom:45px;left:2px;font-size:20px;color:#fff;}
    .user-name:hover {filter: blur(0px);}
	.img-cl{width:42px;height:42px;border-radius:100%;}
	
	.left_act{}
	.left_act ul{padding:0;}
	.left_act ul li a{
		display:block;
		font-size: 14px;
		font-weight: bold;
		height: 43px;
		line-height: 3.6;
		padding: 0 17px;
		vertical-align: middle;
		white-space: nowrap;
		text-decoration:none;
		color:#4b4f56;
		}
	.f_left{float:left;}
	.cboth{clear:both;*overflow:hidden;}/* (add)20170317 */
	.cboth:before,.cboth:after{display:table;content:'';}/* (add)20170317 */
	.cboth:after{clear:both;}/* (add)20170317 */

	
	
	
	
	/* ABOUT US */
	body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 81.25%;
    margin: 0;
    min-width: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}





.m8 {
    background-color: rgba(10,10,10,.6);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.rJ {
    background-color: #fff;
    border-radius: 2px;
    /* box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48); */
    height: 675px;
    min-height: 260px;
    outline: 1px solid transparent;
    overflow: hidden;
    width: 100%;
}

.s8 {
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    color: #212121;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding: 0 24px;
    position: absolute;
    text-align: left;
    width: 600px;
}

.o3 {
    box-sizing: border-box;
    height: 100%;
    padding-top: 60px;
    display: -webkit-flex;
    display: flex;
}
.qI {
    border-right: 1px solid #e0e0e0;
    height: 100%;
    width: 25%;
}

.f0, .rQ {
    font-size: 14px;
    line-height: 36px;
    -webkit-flex: 1;
    flex: 1;
}
.f0 {
    color: #616161;
    cursor: pointer;
    display: block;
    padding-left: 24px;
}

.f0.jhBYqb {
    color: #212121;
    cursor: default;
}

.f0.jhBYqb, .Dd:focus {
    background-color: rgba(0,0,0,.05);
}
.pM {
	width: 100%;
	font-size: 13px;
    line-height: 19px;
    margin-right: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.y0 {
    padding-left: 20px;
}
.i7 {
    overflow-y: auto;
    padding: 16px 24px 16px 16px;
    -webkit-flex: 1;
    flex: 1;
}
.zB, .vq {
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: flex;
}



button, input, textarea {
    font-family: inherit;
    font-size: 1em;
}
input, textarea {
    margin: 0;
    outline: none;
}
.iY, .tz {
    float: left;
    height: 13px;
    width: 13px;
}
.me {
    display: block;
    margin-left: 20px;
}
.iV, .jU {
    color: #757575;
}
.iV {
    margin: 0 0 12px 33px;
}

button, .dy, .H {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.dy, .H, .qj, .f-e.h-e>.f-e-C>button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5;
    margin: 4px 0;
    padding: 0 16px;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: box-shadow .2s cubic-bezier(.4,0,.2,1),background-color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,.2,1),background-color .2s cubic-bezier(.4,0,.2,1);
    -webkit-font-smoothing: antialiased;
}
.H, .f-e.h-e>.f-e-C>button {
    background-color: transparent;
    color: #757575;
}
.BX {
    margin-left: -16px;
    margin-top: 20px;
}
.H.dH, .f-e.h-e>.f-e-C>button.g-kM-th {
    color: #3367d6;
}


button:hover, [role="button"]:hover, [role="listitem"]:hover, [role="menu"]:hover, [role="menuitem"]:hover, [role="tab"]:hover {
    outline: 1px solid transparent;
}
.dy:hover, .H:hover, .f-e.h-e>.f-e-C>button:hover {
    -webkit-transition: none;
    transition: none;
}
.H:not([disabled]):hover, .H:focus:not(:active), .f-e.h-e>.f-e-C>button:not([disabled]):hover, .f-e.h-e>.f-e-C>button:focus:not(:active) {
    background-color: rgba(153,153,153,.2);
}
.H.dH:not([disabled]):hover, .H.dH:focus {
    color: #2a56c6;
}

.f0:focus, .f0:hover, .Dd:hover {
    background-color: rgba(0,0,0,.03);
}
button:hover, [role="button"]:hover, [role="listitem"]:hover, [role="menu"]:hover, [role="menuitem"]:hover, [role="tab"]:hover {
    outline: 1px solid transparent;
}






.nx {
    text-align: right;
    -webkit-flex: 1;
    flex: 1;
}
.jU {
    margin: 4px 0 14px;
    padding-left: 8px;
    display: -webkit-flex;
    display: flex;
}
.iV, .jU {
    color: #757575;
}

.i7 {
    overflow-y: auto;
    padding: 16px 24px 16px 16px;
    -webkit-flex: 1;
    flex: 1;
}
.i5 {
    margin: 2px 0;
    display: -webkit-flex;
    display: flex;
}
.Dd {
    cursor: pointer;
    margin-right: 16px;
    min-width: 0;
    outline: none;
    padding-left: 8px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
}
.rA, .MG {
    display: inline-block;
    margin-top: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}



.f0, .rQ {
    font-size: 14px;
    line-height: 36px;
    -webkit-flex: 1;
    flex: 1;
}
.rQ {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
op, .sM {
    display: inline-block;
    padding-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex: 1;
    flex: 1;
}
.cC {
    margin: 6px 10px 0 6px;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.i5 .Jz {
    margin-left: 0;
    margin-top: 7.5px;
}
.Jz {
    cursor: pointer;
    display: inline-block;
    margin-left: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.yk, .xr, .xI, .xN {
    border-style: solid;
    border-width: 1px;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 15px;
    min-width: 16px;
    padding: 2px 5px;
    text-align: center;
}

.yk {
    background: #3367d6;
    border-color: #3367d6;
}
.yk, .xr {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.Jz {
    cursor: pointer;
    display: inline-block;
    margin-left: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}
.yk, .xr, .xI, .xN {
    border-style: solid;
    border-width: 1px;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 15px;
    min-width: 16px;
    padding: 2px 5px;
    text-align: center;
}

.xI, .xN {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.xN {
    background: white;
    border-color: #3367d6;
}


.xr span, .xN span {
    visibility: hidden;
}







.yk, .xr {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.yk {
    background: #3367d6;
    border-color: #3367d6;
}




.i5 .Jz {
    margin-left: 0;
    margin-top: 7.5px;
}
.Jz {
    cursor: pointer;
    display: inline-block;
    margin-left: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}
.xr {
    background: white;
    border-color: #757575;
}
.xr span, .xN span {
    visibility: hidden;
}
.xI {
    background: #757575;
    border-color: #757575;
}
.xI, .xN {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.nl {
    line-height: 48px;
    max-height: 48px;
    min-height: 48px;
    padding-right: 24px;
    text-align: right;
}
#labels_place{
	display:none;
}
.active{
  display:block;
  font-weight: bold;
}
/* .settings-tab-panel{
  display:none;
}

.settings-tab-panel.active{
  display:block;
  font-weight: bold;
} */


